
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7fafc;
    color: #1a202c;
}

.hero {
    background: url('hero_background.jpg') center/cover no-repeat;
    text-align: center;
    padding: 60px 20px;
    color: #2d3748;
    position: relative;
}

.logo {
   max-width: 180px; 
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.hero-content h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

.buttons .btn {
    background-color: #3182ce;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about, .sections {
    padding: 40px 20px;
    text-align: center;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sections div {
    width: 300px;
    margin: 20px;
}

footer {
    background-color: #2d3748;
    color: white;
    text-align: center;
    padding: 20px;
}
